# Server Secret & Database Configuration
SECRET_KEY=default-secret-key-change-it
MONGO_URI=mongodb://localhost:27017/
DATABASE_NAME=chat_application

# Optional Email Configuration (For Password Reset Links)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

# Optional AI Assistant API Key (Google Gemini AI)
GEMINI_API_KEY=
