.env
__pycache__/
*.pyc
venv/
.venv
env/
.vscode/
.idea/
instance/
.DS_Store
static/uploads/*
client/ui/static/uploads/*
!client/ui/static/uploads/2.jpg
!client/ui/static/uploads/3.jpg
!client/ui/static/uploads/download1.jpg
!client/ui/static/uploads/imresizer-1722416067255_1.jpg
client/frontend/node_modules/
client/frontend/dist/
